/JavaApplication1/nbproject/private/
/UT2_PD1_Ej1Papel/nbproject/private/
/IdentifyMyParts/nbproject/private/
/Principal/nbproject/private/
/Principal/build/
/SomethingIsWrong/nbproject/private/
/SomethingIsWrong/build/
/ContenedorDeNumeros/nbproject/private/
/ContenedorDeNumeros/build/